  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" name="name" placeholder="日本東京之旅" required>
    <label for="name" style="font-size: 15px;">Trip Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="date" class="form-control" id="startDate" name="startDate" placeholder="2025/1/1" required>
    <label for="startDate" style="font-size: 15px;">Start Date</label>
  </div>
  <div class="form-floating mb-3">
    <input type="date" class="form-control" id="endDate" name="endDate" placeholder="2025/1/2" required>
    <label for="endDate" style="font-size: 15px;">End Date</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" id="description" name="description" style="height: 100px;"
      placeholder="這趟一定好玩"></textarea>
    <label for="description" style="font-size: 15px;">Description</label>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="image" style="font-size: 15px;">Image</label>
    <input type="file" class="form-control" id="image" name="image" placeholder="image">
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn" style="background-color: #0077b6; color: white; font-size: 15px; font-weight: 300; border-radius: 100px;"
      type="submit">START TRIP <i class="fa-solid fa-plane fa-rotate-by"
        style="--fa-rotate-angle: 340deg;"></i></button>
    <a class="btn btn-outline-secondary" href="javascript:history.back()" style="margin-left: 5px; border-radius: 100px;"><i
        class="fa-solid fa-right-from-bracket fa-rotate-180"></i></a>
  </div>