<div style="margin-top: 10px; font-size: 18px; font-weight: 200;">▌{{trip.name}} - Create Destination</div>
<div class="badge mt-2 mb-2 text-light" style="background-color: #444444; font-size: 12px; font-weight: 300;">{{formatDate trip.startDate}}-{{formatDate trip.endDate}}</div>
<form action="/destinations" method="POST" enctype="multipart/form-data">
    {{> destination-form}}
</form>